@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: "Libre Baskerville", serif;
}